@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookClub</h1>
    <p class="lead">BoockClub is a place where you can share books with your friends and coworkers.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start off by creating an account and start sharing books.
        </p>
        <p>@Html.ActionLink("Books", "Show", "Books", null, new { @class = "nav-link" })</p>
    </div>
    <div class="col-md-4">
        <h2>BookClubs near you</h2>
        <p>Get a look at the different book clubs that are close by.</p>
        <p>@Html.ActionLink("Books", "Show", "Books", null, new { @class = "nav-link" })</p>
    </div>
    <div class="col-md-4">
        <h2>Books in store</h2>
        <p>Browse the books that people have added.</p>
        <p>@Html.ActionLink("Books", "Show", "Books", null, new { @class = "nav-link" })</p>
    </div>
</div>